*{
  margin: 0;
  padding: 0;
}
.App{
 
  min-height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.title{
   padding-top: 30px;
   display: flex;
   justify-content: center;
}
.search-form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button{
    background:lightcoral;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;

}
.recipes{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}